@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@media (min-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .all {
    width: 100%;
    height: 100%;
    background-color: #050b11;
  }
  .containerr {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .detailsTextAlign {
    margin-top: 25px;
    color: white;
  }
  .detailsText {
    font-size: 13px;
    opacity: 0.8;
  }
  .castPics {
    float: left;
  }
  .castPic {
    width: 40px;
    height: 52px;
    margin-right: 10px;
    margin-bottom: 15px;
    background-image: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png");
    background-size: 40px 52px;
  }
  .detailsBtn {
    margin-top: 90px;
  }
  .detailsPic {
    float: right;
    margin-right: 100px;
  }
  .detailsPic img {
    width: 200px;
    height: 265px;
  }
  .sitmovList {
    max-width: 950px;
    margin-top: 50px;
    color: white;
  }
  .sitmovPic {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 180px;
    height: 250px;
    float: left;
    transition: 0.5s ease;
    backface-visibility: hidden;
    display: block;
    background-size: 180px 250px;
  }
  .littleContainer:hover .sitmovPic {
    opacity: 0.5;
    filter: blur(4px);
  }
  .text {
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .sitmovListTitle {
    margin-bottom: 10px;
  }
  .hr {
    border-width: 1px;
    border-color: gray;
    margin-bottom: 25px;
  }
  .bigPic {
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .total {
    float: right;
    margin-top: -79px;
    margin-left: -5000px;
  }
  .littleContainer {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #050b11;
  }
  .littleContainer:hover .middle {
    opacity: 1;
  }
  .imdbHome {
    font-weight: 500;
    font-size: 16px;
    color: black;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left:68%;
    right: 0;
    top: 3%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    height: 8%;
    width: 23%;
    background-color: yellow;
    font-family: "Teko", sans-serif;
  }
  
  .embedTrailer {
    background-color: black;
    width: 100%;
    height: 500px;
    float: left;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .idPic {
    float: left;
    width: 250px;
    height: 350px;
  }
  .idDetails {
    float: left;
    margin-left: 15px;
    width: 680px;
    padding: 10px;
  }
  .idDetailsText {
    font-size: 15px;
    color: #abb2b9;
    font-family: "Open Sans", sans-serif;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
  }
  #table-example-1 {
    border: solid thin #17202a;
    border-collapse: collapse;
  }
  #table-example-1 td {
    border: solid thin #17202a;
    padding: 0rem 2rem;
    padding-top: 5px;
  }
  #table-example-1 td {
    border-style: none solid;
  }
  .tr1 {
    text-align: center;
    font-size: 13px;
    color: #85929e;
    font-family: "Ubuntu", sans-serif;
  }
  .tr2 {
    text-align: center;
    font-size: 13px;
    font-family: "Ubuntu", sans-serif;
  }
  .td-imdb {
    color: #f39c12;
  }
  .genre {
    color: #5dade2;
    margin-top: -2px;
    float: left;
  }
  .genreTitle {
    float: left;
  }
  .footer p {
    margin-top: 50px;
    margin-left: 25px;
    padding-bottom: 20px;
    margin-bottom: -100px;
    color: #909497;
    font-family: "Play", sans-serif;
  }
  ul {
    list-style-type: none;
    overflow:  hidden;
  }
  li {
    float: left;
  }
  .sitNav {
    overflow: hidden;
    color: gray;
    padding-right: 7em ;
    font-family: "Pacifico", cursive;
  }
  .sitNavSeries{
    color: white;
  }
  .sitNavMovie{
    color: white;
  }
  .sitNav:hover {
    color: white;
    text-decoration: none;
  }
  .navBar:hover {
    color: white;
    text-decoration: none;
  }
  .sitNavAnime{
    color: white;
  }
  .com {
    object-fit: cover;
    font-size: 25px;
    color: white;
    float: left;
    font-family: "Pacifico", cursive;
    display: block;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
  }

  .com:hover {
    color: white;
    text-decoration: none;
  }

  .demo {
    font-family: "Pacifico", cursive;
    font-style: italic;
    color: yellow;
    font-size: 12px;
    margin-top: 35px;
    margin-left: -10px;
  }
  .bigPhotoHomeAnime{
    margin-top: 30px;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
    min-height: 500px;
    padding: 0 100px;
    background: url(naruto.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bigPhotoHomeAnime a:hover {
    text-decoration: none;
    color: white;
  }
  .bigPhotoHome {
    margin-top: 30px;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
    min-height: 500px;
    padding: 0 100px;
    background: url(the-boys.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bigPhotoHome a:hover {
    text-decoration: none;
    color: white;
  }

  .bigPhotoHomeMovie{
    margin-top: 30px;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
    min-height: 500px;
    padding: 0 100px;
    background: url(the-martian.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bigPhotoHomeMovie a:hover{
    text-decoration: none;
    color: white;
  }
  .Search{
    float: right;
    margin-top: -90px;
    width: 500px;
  }
  input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border:  #ccc;
    border-radius: 50px;
    background-color: white;
    background-image: url('search-icon.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px 30px;
    padding: 7px 20px 7px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-weight: 500;
    font-size: 17px;
  }
  input[type=text]:focus {
    width: 50%;
  }
  .contentText {
    max-width: 400px;
    margin-left: -480px;
    color: white;
    font-size: 15px;
  }

  .content h3 {
    margin-top: -150px;
    margin-bottom: 100px;
    margin-left: -480px;
    font-size: 35px;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    color: white;
  }

  .playbttn {
    background-repeat: no-repeat, repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    padding: 20px;
    background-image: url(play.png);
    margin-top: 25px;
    margin-left: -477px;
    margin-bottom: -60px;
  }

  .playtext {
    margin-left: -427px;
    margin-top: 32px;
    margin-bottom: -40px;
    color: white;
    font-size: 11.5px;
    text-transform: uppercase;
    font-family: "Krona One", sans-serif;
  }
}

@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .all {
    width: 100%;
    height: 100%;
    background-color: #050b11;
  }
  .containerr {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .detailsTextAlign {
    margin-top: 25px;
    color: white;
  }
  .detailsText {
    font-size: 13px;
    opacity: 0.8;
  }
  .castPics {
    float: left;
  }
  .castPic {
    width: 40px;
    height: 52px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .detailsBtn {
    margin-top: 90px;
  }
  .detailsPic {
    float: right;
    margin-right: 100px;
  }
  .detailsPic img {
    width: 200px;
    height: 265px;
  }
  .sitmovList {
    padding: 20px 5px 0 5px;
    max-width: 950px;
    color: white;
  }
  .sitmovPic {
    margin: 2px 5px;
    width: 180px;
    height: 250px;
    transition: 0.5s ease;
    backface-visibility: hidden;
    display: block;
  }
  .littleContainer:hover .sitmovPic {
    opacity: 0.5;
    filter: blur(4px);
  }
  .text {
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .sitmovListTitle {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .hr {
    border-width: 1px;
    border-color: gray;
    margin-bottom: 25px;
  }
  .bigPic {
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .total {
    float: right;
    margin-top: -46px;
  }
  .littleContainer {
    position: relative;
    display: inline-block;
  }
  .littleContainer:hover .middle {
    opacity: 1;
  }
  .imdbHome {
    font-weight: 500;
    font-size: 16px;
    color: black;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 60%;
    right: 0;
    top: 3%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    height: 8%;
    width: 22%;
    background-color: yellow;
    font-family: "Teko", sans-serif;
  }
  .embedTrailer {
    background-color: black;
    width: 100%;
    height: 500px;
    float: left;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .idPic {
    float: left;
    width: 200px;
    height: 280px;
  }
  .idDetails {
    margin-left: 15px;
    width: 680px;
    padding: 10px;
  }
  .idDetailsText {
    font-size: 15px;
    color: #abb2b9;
    font-family: "Open Sans", sans-serif;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
  }
  #table-example-1 {
    width: 75%;
    border: solid thin #17202a;
    border-collapse: collapse;
  }
  #table-example-1 td {
    border: solid thin #17202a;
    padding: 0rem 2rem;
    padding-top: 5px;
  }
  #table-example-1 td {
    border-style: none solid;
  }
  .tr1 {
    text-align: center;
    font-size: 13px;
    color: #85929e;
    font-family: "Ubuntu", sans-serif;
  }
  .tr2 {
    text-align: center;
    font-size: 13px;
    font-family: "Ubuntu", sans-serif;
  }
  .td-imdb {
    color: #f39c12;
  }
  .genre {
    color: #5dade2;
    margin-top: -2px;
    float: left;
  }
  .genreTitle {
    float: left;
  }
  .footer p {
    margin-top: 50px;
    margin-left: 205px;
    padding-bottom: 20px;
    margin-bottom: -100px;
    color: #909497;
    font-family: "Play", sans-serif;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    object-fit: cover;
    font-size: 25px;
    color: white;
    float: left;
    font-family: "Pacifico", cursive;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
  }

  li a:hover {
    color: white;
    text-decoration: none;
  }

  .demo {
    font-style: italic;
    color: yellow;
    font-size: 12px;
    margin-top: 35px;
    margin-left: -10px;
  }

  .bigPhotoHome {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 220px;
    background: url("https://birparcatuhaftik.com/wp-content/uploads/2020/09/wallpapersden.com_the-boys-2019_1920x1080.jpg");
    background-position: center;
    padding: 0 15px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contBigPic {
    padding: 5px;
  }

  .bigPhotoHome a:hover {
    text-decoration: none;
    color: white;
  }

  .contentText {
    font-size: 0;
  }

  .content h3 {
    /* margin-left: -150px;
    margin-top: -70px;
    float: left;
    font-size: 35px;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    color: white; */
    font-size: 0;
  }

  .playbttn {
    /* margin-left:-190px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    display: flex;
    width: 10%;
    padding: 10px;
    background-image: url(play.png); */
    font-size: 0;
  }

  .playtext {
    /* margin-left: -163px;
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    font-family: "Krona One", sans-serif; */
    font-size: 0;
  }
}
